@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 3 - pgbnguyen</h1>
    <p class="lead">
        In this assignment, we will create an app that will display lists of Album, MediaType, Track and Playlist objects. The app
        will also enable the user to add new Track objects and edit many-to-many associations while working with the Playlist
        object.
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @*<div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            In this assignment you will create an ASP.NET web app that uses a persistent store
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Functions</h2>
        <p>
            You must follow best practices.
            Implement the recommended system design guidance.
            Customize the appearance of your web app. • Enable “get all”, “get one”, “add new”, “edit existing” and “delete existing” use cases for the Employee object.
            Create the Controller and Manager classes that will work together for data service operations.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>*@


</div>