<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/340c42f6-3a7a-4602-937a-4ab3e0455332/resourceGroups/WEB524/providers/Microsoft.Web/sites/baonguyen-wa-web524-a5</ResourceId>
    <ResourceGroup>WEB524</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://baonguyen-wa-web524-a5.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>baonguyen-wa-web524-a5.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>baonguyen-wa-web524-a5</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$baonguyen-wa-web524-a5</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DataContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:baonguyen-ds-web524.database.windows.net,1433;Initial Catalog=baonguyen-db-web524-a5;Persist Security Info=False;User ID=pgbnguyen;Password=Giabaodn.2291999;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:baonguyen-ds-web524.database.windows.net,1433;Initial Catalog= baonguyen-db-web524-a5;Persist Security Info=False;User ID=pgbnguyen;Password=Giabaodn.2291999;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="W2022A5PGBNGUYEN.Models.ApplicationDbContext, Web app project template v2" MigrationConfiguration="W2022A5PGBNGUYEN.Migrations.Configuration, Web app project template v2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DataContext-Web.config Connection String">
      <ParameterValue>Server=tcp:baonguyen-ds-web524.database.windows.net,1433;Initial Catalog= baonguyen-db-web524-a5;Persist Security Info=False;User ID=pgbnguyen;Password=Giabaodn.2291999;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>