@{ ViewBag.Title = "Home Page"; }

<div class="jumbotron">
    <h1>Assignment6</h1>
    <p class="lead">This is the last assignment of WEB524 course. Security-aware and claims-based web app, with persistence. Design your own data model.</p>
    <p><a href="https://pgbnguyen-wa-web524-a6.azurewebsites.net/" target="_blank" class="btn btn-primary btn-lg">Assignment 6 on Azure &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What I handled</h2>
        <ol>
            <li>Media Item</li>
            <li>Database</li>
            <li>Rich Text</li>
        </ol>
    </div>
    <div class="col-md-4">
        <h2>What I have learned</h2>
        <p>Learned how to handle database so that I can now get and post the data from and to the database</p>
    </div>
</div>