@{
    ViewBag.Title = "About";
    ViewBag.AuthorName = "Pham Gia Bao Nguyen";
    ViewBag.Message = "WEB524 – ASSIGNMENT #1 – WINTER 2022";
}
<h2>@ViewBag.Title.</h2>
<h3> @ViewBag.AuthorName</h3>

<p>@ViewBag.Message</p>
