@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Pham Gia Bao Nguyen</h3>

<address>
    38 Avondale Ave<br />
    Toronto, ON M2N 2T9<br />
    <abbr title="Phone">P:</abbr>
    457.974.1907
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">pgbnguyen@@gmail.com</a><br />
</address>